@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*-- import Files --*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--- skeleton ----*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

.humanImg{
    width: 100%;
    height: 240px;
}

.caro-img {
    margin: 0;
    height: 40vh;
}

.header_section{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    background: #25a18e;
    z-index: 100000;
}

.logo{
    text-align: left;
}

.linkContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.linkSide{
    display: none !important;
}

.navContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.mobileNav{
    position: fixed;
    background: black;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100000;
    display: none;
}

.mobileNav a{
    text-decoration: none;
    color: white;
}

#mobileContainer{
    margin: 30px;
    color: white;
}

#mobileContainer p{
    font-size: 30px;
    margin-top: 40px;
}

.cancelBtn{
    margin: 20px 0 500px;
    text-align: right;
    font-size: 25px;
    background: transparent;
    cursor: pointer;
}

.hamburger{
    cursor: pointer;
}

.hamburgerContainer{
    display: block;
}
.show{
    display: block;
}
.waitlistContainer{
    display: flex;
    width: 100%;
}

.left-section {
    padding: 20px;
    flex: 2;
    background-image: url("../images/STATIC\ BG\ IMAGE2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.left-section p {
    margin-bottom: 10px;
}

.logos img {
    height: 40px;
}

.right-section {
    padding: 20px;
    flex: 1;
    background: #00a5cf;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm h2 {
    margin-bottom: 20px;
}

#contactForm label {
    margin-bottom: 5px;
}

#contactForm input, #contactForm select, #contactForm textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

#contactForm textarea {
    height: 100px;
    resize: none;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.checkbox input {
    margin-right: 10px;
}

button:hover {
    background: #2f855a;
}

.navContainer a{
    font-size: 20px;
}

header{
    margin: 0;
    margin-top: 8.5rem;
}


#logoImg{
    width: 60px;
}

.plansImg{
    height: 332px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-caption1{
  position: absolute;
  top: 40%;
  left: 24.5%;
  transform: translate(-50%, -50%);
  inline-size: 0px;
}

.carousel-caption2{
    position: absolute;
    top: 40%;
    left: 24.5%;
    transform: translate(-50%, -50%);
    inline-size: 780px;
}

.carousel-caption2 button{
    padding: 10px 30px;
    border-radius: 5px;
    background: #00a5cf;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.carousel-caption2 h2{
    color: black;
    font-weight: 700;
}

.carousel-caption1 button{
    padding: 10px 30px;
    border-radius: 5px;
    background: #00a5cf;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.caption-content{
    display: flex;
    align-items: center;
    justify-content: center;
}


.carousel-inner h3{
    color: #9fffcb;
    font-size: 30px;
}

.carousel-inner p{
    color: white;
    font-size: 25px;
    line-height: 35px;
}

html {
     scroll-behavior: smooth;
     overflow-x: hidden !important;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: Poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden !important;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}
button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}
.header_section {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    height: auto;
    background-size: 100%;
    z-index: 100000;
}

.financialImg{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.padding_left0{
    padding-left: 20px;
}
.banner_section {
    margin-top: 150px;
    padding: 0;
    width: 100%;
    float: left;
}
.financeSide{
    flex: 1;
}

.financeImg{
    width: 100%;
}
.image_1 {
    width: 100%;
    float: left;
}
.banner_taital{
    width: 100%;
    float: left;
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
.banner_taital_1{
    width: 100%;
    float: left;
    font-size: 55px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
}
.banner_text{
    width: 80%;
    float: left;
    font-size: 16px;
    color: #f8fdfe;
    margin-left: 0px;
}
.contact_bt{
    width: 170px;
    float: left;
}
.contact_bt a{
    width: 170px;
    float: left;
    font-size: 16px;
    color: #f8fdfe;
}
.contact_bt a:hover{
    color: #181919;
}
.contact_padding{
    padding-left: 15px;
}

@keyframes fadeEffect{
    0%{
    transform: translate(-50%,-50%) scale(0);
    opacity: 1
    }
    40%{
        opacity: 1;
    }
    100%{
    transform: translate(-50%,-50%) scale(1.2);
    opacity: 0;
    }
}
.services_section{
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.services_taital{
    width: 100%;
    float: left;
    font-size: 50px;
    color: #addaed;
    font-weight: 600;
}
.services_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #333333;
    margin-left: 0px;   
}
.box_section {
    width: 100%;
    color: black !important;
    float: left;
    border: 1px solid #d0d0d0;
    padding: 30px 20px 0px 20px;
}
.box_section:hover{
    background-color: #004e64;
    border: 1px solid #89cbeb;
}
.box_section:hover .tile_text{
    color: #ffffff;
}
.box_section:hover .lorem_text{
    color: #ffffff;
}
.box_section:hover .tiles_img_1{
    background-image: url(../images/carpet-img2.png);
}
.box_section.active{
    background-color: #004e64;
    border: 1px solid #89cbeb;
}

.tiles_img {
    width: 74px;
    margin: 0 auto;
    text-align: center;
    min-height: 90px;
    background-image: url(../images/tiles-img.png);
    background-repeat: no-repeat;
}
.tiles_img_1 {
    width: 74px;
    margin: 0 auto;
    text-align: center;
    min-height: 90px;
    background-image: url(../images/carpet-img.png);
    background-repeat: no-repeat;
}
.tile_text{
    width: 100%;
    float: left;
    font-size: 30px;
    color: #2d2d2c;
    text-align: center;
    font-weight: 500;
}
.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-left: 0px;
    font-weight: 500;
}
.tile_text.active {
    color: #ffffff;
}
.lorem_text.active {
    color: #ffffff;
}
#main_slider a.carousel-control-next {
    position: absolute;
    right: -30px;
    top: 65%;
}
#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #404040;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 100%;
}
#main_slider a.carousel-control-prev {
    position: absolute;
    left: -30px;
    top: 65%;
    background: #367d99;
}
#main_slider .carousel-control-prev:hover, #main_slider .carousel-control-next:hover, #main_slider .carousel-control-prev:focus, #main_slider .carousel-control-next:focus {
    background: #367d99;
    color: #fff;
}
.about_section{
    width: 100%;
    float: left;
    background-color: #f0faff;
    height: auto;
    padding-bottom: 90px;
}
.images_main{
    width: 100%;
    float: left;
}
.ipsum_text{
    width: 100%;
    float: left;
    color: #565656;
    font-size: 16px;
    margin-left: 0px;
}
.image_2{
    width: 100%;
    float: left;
}
.contact_bt_1{
    width: 170px;
    float: left;
}
.contact_bt_1 a{
    width: 170px;
    float: left;
    font-size: 16px;
    color: #181919;
}
.contact_bt_1 a:hover{
    color: #addaed;
}
.choose_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    background-color: #f9fafa;
    height: auto;
}
.choose_taital{
    width: 100%;
    float: left;
    font-size: 50px;
    color: #addaed;
    font-weight: 600;
    text-align: center;
}
.choose_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #333333;
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
}
.choose_section_2{
    width: 100%;
    float: left;
}
.choose_box{
    width: 100%;
    float: left;
    border: 1px solid #90ceec;
}
.client_taital {
    padding-top: 10px;
    width: 100%;
    float: left;
    font-size: 16px;
    color: #004e64;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}
.client_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}
.image_3{
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 70px; 
}
.team_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.team_section_2{
    width: 100%;
    float: left;
}
.image_4{
    width: 100%;
    float: left;
    text-align: center;
}
.follow_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: black;
    text-align: center;
    padding-top: 15px;
}
.follow_social_icon {
    width: 100%;
    float: left;
    text-align: center;
}
.follow_social_icon ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.follow_social_icon li{
    background: white;
    float: left;
    width: 20px;
}

.consectetur_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #7ae582;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 110px;
}
.dumm_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #333333;
    margin-left: 0px;
}
.consectetur_text_1 {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #7ae582;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 110px;
    text-align: right;
}
.dumm_text_1{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #333333;
    margin-left: 0px;
    text-align: right;
}
.newsletter_section{
    width: 100%;
    float: left;
    background-color: #004e64;
    height: auto;
    padding: 40px 0px;
}
.newsletter_text{
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 40px;
}
.tempor_text{
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 16px;
    margin-left: 0px;
    margin-top: 0px;
}
.mail_bt_main{
    width: 100%;
    float: left;
    padding-top: 20px;
}
.mail_text {
    width: 60%;
    float: left;
    color: #000;
    font-size: 16px;
    background-color: #ffffff;
    padding: 10px 15px;
    border: 0px;
    height: auto;
}
.subscribe_bt{
    width: 150px;
    float: left;
    color: #ffffff;
    font-size: 16px;
    background-color: #25a18e;
    padding: 10px 15px;
    text-align: center;
}
.subscribe_bt a{
    color: #ffffff;
}
.footer_section{
    width: 100%;
    float: left;
    background-image: url("../images/footerImg.png");
    height: auto;
    padding: 45px 0px;
}
.footer_main{
    width: 100%;
    float: left;
}
.footer_left{
    width: 25%;
    float: left;
}
.contact_taital{
    width: 100%;
    float: left;
    font-size: 36px;
    color: #ffffff;
    font-weight: 600;
    border-bottom: 1px solid #ffffff;
    text-align: center;
}
.location_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fdfdfd;
    padding-top: 15px;
    text-align: center;
}
.location_text a{
    color: #fdfdfd;
}
.padding_left_15{
    padding-left: 15px;
}
.mail_section {
    width: 80%;
    float: left;
}
.contact_section{
    width: 100%;
    float: left;
    padding-top: 40px;
}

.email_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #717471;
    background-color: transparent !important;
    border-bottom: 2px solid #6f6f6f !important;
    border: 0px;
    padding: 20px 15px 10px 15px;
    text-transform: uppercase;
    height: auto;
}
input.email_text::placeholder {
    color: #717471;
}
.massage_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #717471;
    background-color: transparent !important;
    border-bottom: 2px solid #6f6f6f !important;
    border: 0px;
    height: 90px;
    text-transform: uppercase;
    padding: 40px 15px 0px 15px;  
}
textarea#comment::placeholder {
    color: #717471;
}
.send_bt {
    width: 150px;
    float: left;
    margin-top: 40px;
}
.send_bt a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #004e64;
    padding: 10px 0px;
    text-transform: uppercase;
    border-radius: 40px;
}

.social_icon {
    width: 100%;
    float: left;
    text-align: right;
    padding-top: 30px;
}
.social_icon ul{
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.copyrightContainer{
    margin-top: 100px;
    text-align: center;
    color: white;
}
.images_main_1{
    width: 100%;
    float: left;
}

@media only screen and (min-width: 119px) and (max-width: 598px){
    .carousel-caption1{
        top: 42%;
        left: 24%;
        transform: translate(-50%, -50%);
        inline-size: 100px;
      }

      .carousel-caption1 h3{
        font-size: 10px;
      }

      .carousel-caption1 p{
        font-size: 6px;
        line-height: normal;
        margin: 0;
      }

      .carousel-caption1 button{
        padding: 5px 10px;
        font-size: 5px;
      }

      .carousel-caption2{
        top: 40%;
        left: 40%;
        inline-size: 90px; 
        margin: 0;
      }

      .carousel-caption2 h2{
        font-size: 8px;
        margin: 0;
      }

      .carousel-caption2 p{
        font-size: 5px;
        line-height: normal;
        margin: 0;
      }

      .carousel-caption2 button{
        padding: 5px 8px;
        font-size: 6px;
        margin: 0;
      }

      .financialImg{
        flex-direction: column;
        gap: 50px;
      }
}

@media only screen and (min-width: 599px) and (max-width: 767px){
    .carousel-caption1{
        top: 43%;
        left: 24%;
        transform: translate(-50%, -50%);
        inline-size: 230px;
      }

      .carousel-caption2{
        top: 44%;
        left: 39%;
        inline-size: 150px; 
      }

      .carousel-caption2 h2{
        font-size: 12px;
        margin: 0;
      }

      .carousel-caption2 p{
        font-size: 10px;
        line-height: normal;
        margin: 0;
      }

      .carousel-caption2 button{
        font-size: 12px;
        padding: 12px 12px;
      }

      .carousel-caption1 h3{
        margin: 0;
        font-size: 13px;
      }

      .carousel-caption1 p{
        font-size: 12px;
        margin: 0;
        line-height: normal;
      }

      .carousel-caption1 button{
        font-size: 12px;
        padding: 3px 15px;
        margin-top: 0px;
      }

      .financialImg{
        flex-direction: column;
        gap: 50px;
      }
}

@media only screen and (min-width: 768px) and (max-width: 979px){
    .linkSide{
        display: block !important;
    }

    .hamburgerContainer{
        display: none !important;
    }
    
    .linkContainer{
        gap: 20px;
    }

    .linkContainer li a{
        font-size: 15px;
    }

    .caro-img {
        margin: 0;
        height: 70vh;
    }

    .carousel-caption1{
        top: 40%;
        left: 24%;
        transform: translate(-50%, -50%);
        inline-size: 290px;
      }

      .carousel-caption2{
        top: 35%;
        left: 40%;
        inline-size: 150px; 
      }

      .carousel-caption2 h2{
        font-size: 15px;
      }

      .carousel-caption2 p{
        font-size: 12px;
        line-height: 20px;
      }

      .carousel-caption2 button{
        font-size: 12px;
      }

      .carousel-caption1 h3{
        margin: 0;
      }

      .carousel-caption1 p{
        font-size: 15px;
        margin: 0;
        line-height: normal;
      }

      .carousel-caption1 button{
        font-size: 12px;
      }
}

@media screen and (min-width: 980px){
    .caro-img {
        margin: 0;
        height: 90vh;
    }

    .linkSide{
        display: block !important;
    }

    .carousel-caption1{
        top: 42%;
        left: 24%;
        transform: translate(-50%, -50%);
        inline-size: 390px;
      }
      .hamburgerContainer{
        display: none;
    }

      .carousel-caption1 p{
        font-size: 20px;
        line-height: normal;
      }

      .carousel-caption1 button{
        margin-top: 20px;
        font-size: 15px;
      }

      .carousel-caption2{
        top: 35%;
        left: 40%;
        inline-size: 250px; 
      }

      .carousel-caption2 h2{
        font-size: 25px;
      }

      .carousel-caption2 p{
        font-size: 20px;
        line-height: 20px;
      }

      .carousel-caption2 button{
        font-size: 16px;
      }
}

@media screen and (min-width: 1300px){
    .carousel-caption1{
        top: 42%;
        left: 24%;
        transform: translate(-50%, -50%);
        inline-size: 495px;
      }

      .carousel-caption1 p{
        font-size: 22px;
        line-height: normal;
      }

      .carousel-caption1 button{
        margin-top: 20px;
        font-size: 18px;
      }

      .carousel-caption2{
        top: 35%;
        left: 40%;
        inline-size: 260px; 
      }
}

@media screen and (min-width: 1440px){
    .carousel-caption1{
        top: 42%;
        left: 24%;
        transform: translate(-50%, -50%);
        inline-size: 570px;
      }

      .carousel-caption2{
        position: absolute;
        top: 40%;
        left: 39%;
        transform: translate(-50%, -50%);
        inline-size: 396px;
    }

    .carousel-caption2{
        top: 35%;
        left: 40%;
        inline-size: 300px; 
      }

      .carousel-caption1 p{
        font-size: 22px;
        line-height: 40px;
      }

      .carousel-caption1 button{
        margin-top: 20px;
        font-size: 25px;
      }
}


@media screen and (min-width: 1659px){
    .carousel-caption1{
        top: 40%;
        left: 24%;
        transform: translate(-50%, -50%);
        inline-size: 650px;
      }

      .carousel-caption2{
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
        inline-size: 420px;
    }

      .carousel-caption1 h2{
        margin: 0;
        font-size: 30px;
      }

      .carousel-caption1 p{
        font-size: 22px;
        line-height: 50px;
      }

      .carousel-caption1 button{
        margin-top: 30px;
        font-size: 25px;
      }
}


@media screen and (min-width: 1800px) {
        .carousel-caption1{
            top: 42%;
            left: 24%;
            transform: translate(-50%, -50%);
            inline-size: 690px;
          }
    
          .carousel-caption2{
            position: absolute;
            top: 40%;
            left: 39%;
            transform: translate(-50%, -50%);
            inline-size: 450px;
        }
    
          .carousel-caption1 h3{
            margin: 0;
            font-size: 30px;
          }
    
          .carousel-caption1 p{
            font-size: 22px;
            line-height: normal;
          }

          .carousel-caption2 p{
            line-height: normal;
          }
    
          .carousel-caption1 button{
            margin-top: 30px;
            font-size: 25px;
          }
}